<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
        <link rel="stylesheet" href="//unpkg.com/vue-material@beta/dist/vue-material.min.css">
        <link rel="stylesheet" href="//unpkg.com/vue-material@beta/dist/theme/default.css">
        <link rel="stylesheet" href="inventory.css"></link>
        <title>MAGFest Inventory</title>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/sw.js');
                });
            }
        </script>
        <script src="//cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.find.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="//unpkg.com/vue-material@beta"></script>
        <script src="inventory.js"></script>
    </head>
    <body>
        <div id="app">
            <md-app>
                <md-app-toolbar class="md-primary">
                    <span class="md-title">MAGFest Inventory</span>
                </md-app-toolbar>
                <md-app-content>
                    <div v-for="department in departments" :key="department">
                        <md-table md-card v-model="bins[department]">
                            <md-table-toolbar>
                                <h1 class="md-title">{{ department }}</h1>
                            </md-table-toolbar>

                            <md-table-row slot="md-table-row" slot-scope="{ item }">
                                <md-table-cell md-label="ID" md-sort-by="_id">{{ item['_id'] }}</md-table-cell>
                                <md-table-cell md-label="Date" md-sort-by="date">{{ item['date'] }}</md-table-cell>
                                <md-table-cell md-label="Labels" md-sort-by="copies" md-numeric>{{ item['copies'] }}</md-table-cell>
                                <md-table-cell md-label="Print Status" md-sort-by="print_status">{{ item['print_status'] }}</md-table-cell>
                                <md-table-cell md-label="Items" md-numeric>{{ item['items'].length }}</md-table-cell>
                                <md-table-cell md-label="Edit"><div @click="edit_bin(item)"><md-icon>edit</md-icon></div></md-table-cell>
                            </md-table-row>
                        </md-table>
                    </div>
                    <md-button @click="add_bin()" class="md-fab">
                        <md-icon>add</md-icon>
                    </md-button>
                    <md-dialog :md-active.sync="showAddDialog">
                        <md-dialog-title>Add Bin</md-dialog-title>
                        <md-dialog-content>
                                
                            <md-field>
                                <label>ID</label>
                                <md-input v-model="editBin._id"></md-input>
                            </md-field>
                            <md-field>
                                <label>Date</label>
                                <md-input type="date" v-model="editBin.date"></md-input>
                            </md-field>
                            <md-field>
                                <label>Print</label>
                                <md-select v-model="editBin.print_status" md-dense>
                                    <md-option value="print">Print</md-option>
                                    <md-option value="noprint">Don't Print</md-option>
                                </md-select>
                            </md-field>
                            <md-field>
                                <label>Copies</label>
                                <md-input type="number" v-model="editBin.copies"></md-input>
                            </md-field>
                            <md-table md-card v-model="editBin.items">
                                <md-table-toolbar>
                                    <h1 class="md-title">Items</h1>
                                </md-table-toolbar>
    
                                <md-table-row slot="md-table-row" slot-scope="{ item }">
                                    <md-table-cell md-label="Count"><input v-model="item[0]"></input></md-table-cell>
                                    <md-table-cell md-label="Name"><input v-model="item[1]"></input></md-table-cell>
                                    <md-table-cell md-label="Delete"><div @click="delete_item(item)"><md-icon>delete</md-icon></div></md-table-cell>
                                </md-table-row>
                            </md-table>
                            <md-button @click="add_item">Add Item</md-button>
                        </md-dialog-content>
                        <md-dialog-actions>
                            <md-button class="md-primary" @click="cancel_bin">Cancel</md-button>
                            <md-button class="md-primary" @click="save_bin">Save</md-button>
                        </md-dialog-actions>
                    </md-dialog>
                </md-app-content>
            </md-app>
        </div>
    </body>
</html>